<header id="header">
	<div id="top-bar">
		<div class="container clearfix">
			<ul>
				<li><a href="https://twitter.com/pieceofmake_nte"><i class="fa fa-twitter"></i></a></li>
{{!-- 				<li><a href=""><i class="fa fa-facebook"></i></a></li> --}}
			</ul>
		</div>
	</div>
	<!-- / top bar -->

	<div id="top">
		<div class="container">
			<div id="logo">
				{{#if @blog.logo}}
					<a href="{{@blog.url}}" title="{{@blog.title}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
				{{else}}
					<a href="{{@blog.url}}" title="{{@blog.title}}">{{@blog.title}}</a>
				{{/if}}
			</div>
		</div>
	</div>
	<!-- / top -->

	<nav id="nav">
		<div class="container clearfix">
			<a href="#" id="mobile-nav-trigger">Show Navigation</a>
			{{navigation}}
		</div>
	</nav>
	<!-- / navigation -->
</header>
<!-- / header -->