{{!< default}}
{{! The above will include this template into the body of the default template }}

{{> page-header}}
{{! This includes the page-header.hbs partial }}

<main id="main" class="container">
	<div id="wrapper" class="clearfix">

		<div id="content">
			{{#post}}
			<article class="post">
				<div class="row">
					<div class="col-lg-4">
						{{#if tags}}
						<ul class="post-tags">
							{{#foreach tags}}
							<li>
								<a href="{{url}}" title="{{name}}" class="tag-{{id}}">{{name}}</a>
							</li>  
							{{/foreach}}
						</ul>
						{{/if}}
					</div>
					<div class="col-lg-8">
						{{#if featured}}<span class="feat-strip">Featured</span>{{/if}}
						<h1 class="post-title">{{title}}</h1>
						<div class="post-meta">{{#author}}<span>By</span> <a href="{{url}}" title="{{name}}">{{name}}</a>, {{/author}} <time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="MMM DD, YYYY"}}</time></div>
					</div>
				</div>

				{{#if image}}
				<div class="row">
					<div class="post-image col-md-12"><img src="{{image}}" alt="{{title}}"></div>
				</div>
				<!-- / post image -->
				{{/if}}

				<div class="row">
					<div class="col-lg-8 col-lg-push-4">
						<div class="post-content">
							{{content}}
						</div>
						<div class="post-share">
							<ul class="social-icons">
								<li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="button button-social button-facebook" title="Share on Facebook"><i class="mdi mdi-facebook"></i></a></li>
								<li><a href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="button button-social button-twitter" title="Share on Twitter"><i class="mdi mdi-twitter"></i></a></li>
								<li><a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="button button-social button-google-plus" title="Share on Google Plus"><i class="mdi mdi-google-plus"></i></a></li>
								<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;title={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;" class="button button-social button-linkedin" title="Share on LinkedIn"><i class="mdi mdi-linkedin"></i></a></li>
								<li><a href="http://www.pinterest.com/pin/find/?url={{url absolute="true"}}" onclick="window.open(this.href, 'pinterest-share', 'width=1024,height=530');return false;" class="button button-social button-pinterest" title="Share on Pinterest"><i class="mdi mdi-pinterest"></i></a></li>
								<li><a href="mailto:?subject={{encode title}}&amp;body=Read%20this:%20{{url absolute="true"}}" class="button button-social" title="Share via email"><i class="mdi mdi-email-outline"></i></a></li>
							</ul>
						</div>
						<!-- / post sharing -->

						<aside class="post-adjacent">
							<div class="row">
								<div class="col-sm-6 prev-post">
									{{#prev_post}}
									<strong>Previous article</strong>
									<h4 class="post-title"><a href="{{url}}">{{title}}</a></h4>
									<div class="post-meta">{{#author}}<span>By</span> <a href="{{url}}" title="{{name}}">{{name}}</a>, {{/author}} <time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="MMM DD, YYYY"}}</time></div>
									{{/prev_post}}
								</div>
								<div class="col-sm-6 next-post">
									{{#next_post}}
									<strong>Next article</strong>
									<h4 class="post-title"><a href="{{url}}">{{title}}</a></h4>
									<div class="post-meta">{{#author}}<span>By</span> <a href="{{url}}" title="{{name}}">{{name}}</a>, {{/author}} <time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="MMM DD, YYYY"}}</time></div>
							    	{{/next_post}}
								</div>
							</div>
						</aside>
						<!-- / adjacent posts -->

					</div>
					<aside class="col-lg-4 col-lg-pull-8 post-related">
						<div class="widget widget-bordered" id="widget-related">
							<h4 class="widget-title">Related content</h4>
							<ul class="widget-list related-posts">
							</ul>
						</div>
					</aside>
					<!-- / related content -->

				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="post-comments">
							<div class="row">
								<div class="col-lg-4"><h4 class="mt-10">Join the discussion</h4></div>
								<div class="col-lg-8">
									<div id="disqus_thread"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- / comments -->
			</article>
			{{/post}}
			<!-- / post -->
		</div>
		<!-- / content -->

		{{> page-sidebar}}
		{{! This includes the page-sidebar.hbs partial }}
	</div>
	<!-- / wrapper -->
</main>
<!-- / main -->

{{> page-footer}}
{{! This includes the page-footer.hbs partial }}