{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}


<main class="content post-page" role="main">


  <section class="row">
    <div class="col-single">
      {{!-- {{#if image}}<img class="img-rwd post-img" src={{image}} />{{/if}} --}}
    </div>
    <div class="col-double">
      <article class="{{post_class}}">
        <section class="col-full post-content">
          <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD/MM/YYYY"}}</time>
          </header>
          {{content}}
        </section>

        {{#author}}
          <section class="post-author vcard">
            <h4 class="author fn">{{name}}</h4>
            <ul class="author-meta">
              {{!-- {{#if location}}<li class="author-location icon-location">{{location}}</li>{{/if}} --}}
              {{#if website}}<li class="author-link icon-link"><a rel="external" class="url" href="{{website}}" title="Parcours professionel de {{name}}">Voir mon parcours professionel</a></li>{{/if}}
            </ul>
            {{#if image}}
              <figure>
                <img class="author-thumb photo" src="{{image}}" alt="{{author.name}}" nopin="nopin" />
              </figure>
            {{/if}}
          </section>
        {{/author}}

        <footer class="post-footer row">

            <div class="col-half">
              <section class="post-share relative">
                <i class="icon icon-love illustrate-left"></i>
                <ul class="list-unstyled content-illustrate">
                  <li>
                    <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                      <span class="hidden">Twitter</span>
                    </a>
                  </li>
                  <li>
                    <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                      <span class="hidden">Facebook</span>
                    </a>
                  </li>
                  <li>
                    <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                      <span class="hidden">Google+</span>
                    </a>
                  </li>
                </ul>
              </section>
            </div>

            <div class="col-half">
              <section class="post-tags relative">
                {{#if tags}}
                  <i class="icon icon-tags illustrate-left"></i>
                  <ul class="list-unstyled content-illustrate">
                    {{tags}}
                  </ul>
                {{/if}}
              </section>

            </div>
        </footer>

      </article>

    </div>
  </section>



</main>


{{/post}}
